server:
  port: 8761
eureka:
  instance:
    hostname: localhost
  client:
    #register-with-eureka 与 fetch-registry 都未false时,表示当前的项目eureka是一个服务端
    register-with-eureka: false
    fetch-registry: false
    eureka-server-u-r-l-context: http://${eureka.instance.hostname}:${server.port}/eureka/
